<footer class="fx fx-just">
  <div class="col-fx">
  <p class="row">Coded by: Dani Gellis and Jonathan Mitchell</p>
  <a class="row" href=https://github.com/ontoneio/hello-webServers-253.git>Link to Repository on Github </a>
  </div>
</footer>
