<nav class= "fx">
  <div class="row fx-just">
    <div id="app-name" class="">DANI-JAMify >>> </div>
    <a id="nav-link" class"col-fx" href="/"><h4>Artists</h4></a>
    <a id="nav-link" class"col-fx" href="/albums"><h4>Albums</h4></a>
    <a id="nav-link" class"col-fx" href="/songs"><h4>Songs</h4></a>
  </div>
</nav>
