<!--  START OF BODY  -->
<div><% include partials/head %></div>
<div class="fx nav-color fx-just"><% include partials/navbar %></div>

<body>

  <div id="sec-name-wrap" class="fx fx-just">

    <div id="sec-name" class="col-fx"><h1>Songs</h1></div>

  </div> <!-- PAGE TITLE -->


  <div class= "container">

      <div class="fx fx-grow" >
        <div id="artist-box" class="col-fx cont-width mint-color">

          <div id="art-info-wrap" class="row fx-just ">
            <table>

              <tr>
                <th>Song:</th>
                <th>Artist:</th>
                <th>Album:</th>
                <th>Length:</th>
              </tr> <!-- LABEL ROW  -->
              <tr>
                <th>Song-Title</th>
                <th>Artist-Name</th>
                <th>Album-Name</th>
                <th>Length-of-Song</th>
              </tr>

            </table>

          </div> <!-- ARTIST META ROW  -->

        </div>  <!-- INFO WRAPPER  -->

      </div> <!-- ARTIST PAGE BOX -->

    </div>

  </div>



</body>

<div class= "container nav-color"><% include partials/footer %></div>
