<!--  START OF BODY  -->
<div><% include partials/head %></div>
<div class="fx nav-color fx-just"><% include partials/navbar %></div>

<body>

  <div id="sec-name-wrap" class="fx fx-just">

    <div id="sec-name" class="col-fx"><h1>Songs</h1></div>

  </div> <!-- PAGE TITLE -->


  <table class= "row">

      <div class="fx fx-grow" >
        <div id="artist-box" class="col-fx mint-color fx-just">

          <table class="fx-just">
            <tr>
              <th>Song:</th>
              <th>Artist:</th>
              <th>Album:</th>
              <th>Length:</th>
            </tr> <!-- LABEL ROW  -->

            <% songs.forEach(function(song){ %>
              <tr>
                <th><%= song.title%></th>
                <th>Artist-Name</th>
                <th>Album-Name</th>
                <th>Length-of-Song</th>
              </tr>
              <% }); %>

            </table>

        </div>  <!-- INFO WRAPPER  -->

      </div> <!-- ARTIST PAGE BOX -->


  </table>



</body>

<div class= "container nav-color"><% include partials/footer %></div>
